<head>
	<!-- views/partials/head.ejs -->

	<meta charset="UTF-8">
	<title>We all climb</title>

	<!-- CSS (load bootstrap from a pureCSS) -->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="../stylesheets/email.css">
	<link rel="stylesheet" href="../stylesheets/email-old-ie.css">
	<link rel="stylesheet" href="../stylesheets/css-switch.css">
	<link rel="stylesheet" href="../stylesheets/custom.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
	</script>
	<script>
	$(document).ready(function(){
		$(".indoors").hide();

		$('#remove-route').on('click', deleteRoute);

		$("#outdooronoffswitch").click(function(){
			
			$(".indoors").toggle(150);

			$(".indoors div input").val('');
			
		});
	});

	function deleteRoute(event) {
 		
 		event.preventDefault();

	    // Pop up a confirmation dialog
	    var confirmation = confirm('Weet je zeker dat je deze route wil verwijderen?');

	    if(confirmation === true){
			$.ajax({
	            type: 'DELETE',
	            url: '/routes/' + $(this).attr('rel'),
	            contentType: 'application/json',
	            success : function(e) {
				    alert('Verwijderd!');
				},
				error : function(e) {
				    alert('Error (' + e.status + '): ' + e.responseText);
				}
	        });
	    }else{
	    	return false;
	    }
	};	
	</script>
</head>