<!doctype html>
<html>

    <% include head %>

    <body>

        
        <div id="layout" class="content pure-g">

        <div id="message">
        </div>


            <% include header %>

            <%- body %>

        </div>

		<!-- Scripts for life data -->
		<%- script %>
	
    </body>

</html>