<!doctype html>
<html>

    <% include head %>

    <body>

        
        <div id="layout" class="content pure-g">

        <div id="message">
        </div>


            <% include header %>

            <%- body %>

        </div>

		<!-- Scripts for life data -->
		<%- script %>

        <!--<script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io.connect();
        </script>-->
	
    </body>

</html>