<!doctype html>
<html>

    <% include ../partials/head %>

    <body>
        <div id="layout" class="content pure-g">

            <% include ../partials/header %>

                <h1>Index</h1>
                <p>Hi there this is a tinder based on music!</p>

            <% include ../partials/footer %>

        </div>
    </body>

</html>
