.message{
	color: white;
	text-align: center;
	border-radius: 20px;
	font-weight: bold;
	padding: 7px;
}

.error{
	background-color: red;
}

.success{
	background-color: #49E845;
}

.email-item{
	color: #333;
}

.secondary-button{
	font-size: 100%;
	font-weight: bold !important;
	color: white;
}

.change-button{
	background-color: orange;
}

.change-button:hover{
	background-color: white;
	color: orange;
	border-color: orange;
}

.delete-button{
	background-color: red;
}

.delete-button:hover{
	background-color: white;
	color: red;
	border-color: red;
}

p.email-avatar{
	font-weight: bold;
	font-size: 120%;
}