#message{
	width: inherit;
	position: absolute;
	margin: 20px;
	border-radius: 20px;
	font-size: 150%;
	font-family: sans-serif;
	letter-spacing: 0px;
	right: 0px;
}

#message div{
	border-radius: 5px;
	padding: 20px;
}

#message div a{
	float: right;
	margin: 0 5px 0 25px;
}

.message{
	color: white;
	text-align: center;
	border-radius: 20px;
	font-weight: bold;
	padding: 7px;
}

.error{
	background-color: #f2dede;
	color: #a94442;
	border-color: #a94442;
}

.success{
	background-color: #dff0d8;
	color: #3c763d;
	border-color: #3c763d;
}

.email-item{
	color: #333;
}

.secondary-button{
	font-size: 100%;
	font-weight: bold !important;
	color: white;
}

.change-button{
	background-color: orange;
}

.change-button:hover{
	background-color: white;
	color: orange;
	border-color: orange;
}

.delete-button{
	background-color: red;
}

.delete-button:hover{
	background-color: white;
	color: red;
	border-color: red;
}

p.email-avatar{
	font-weight: bold;
	font-size: 120%;
}

#list a div:hover{
	background: #eee;
}

.pure-button-red{
	background-color: red;
	color: #fff;
}

gray{
	color: gray;
}