<!doctype html>
<html>

    <% include ../partials/head %>

    <body>
        <div id="layout" class="content pure-g">

            <% include ../partials/header %>

            <% include submenu %>

        	<!--<h1>Inloggen</h1>-->
        	<div id="main" class="pure-u-1">
        		<div class="email-content">
        			<div class="email-content-header pure-g">
        				<div class="pure-u-1">
        					<h1 class="email-content-title">Inloggen</h1>
        				</div>
        			</div>
		        	<div class="email-content-body">
			            <form class="pure-form pure-form-aligned">
						    <fieldset>
						        <input type="email" placeholder="Email">
						        <input type="password" placeholder="Password">

						        <label for="remember">
						            <input id="remember" type="checkbox"> Onthoud mij
						        </label>

						        <button type="submit" class="pure-button pure-button-primary">Inloggen</button>
						    </fieldset>
						</form>
					</div>
				</div>
			</div>

        </div>
    </body>

</html>
